html {
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
    max-width: 500px;
    margin: 0;
}

body {
    max-height: 500px;
    max-width: 500px;
    background-color: rgba(0,0,0,.1);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.view {
    visibility: hidden;
    display: none;
}

iframe {
    border: 0;
}

#label {
    color: #333;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

#notAuth-view {
    text-align: center;
    color: #333;
    font-size: large;
    padding: 100px;
}

#login-btn {
    color: white;
    font-size: large;
    border-radius: 3px;
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #1e90ff;
    border: 0;
}

#login-btn:hover {
    border: 1px solid white;
}
#toolbar-view {
    text-align: center;
    visibility: hidden;
    display: none;
    color: #666;
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    border: 0;
    padding-top: 3px;
    font-family: 'Roboto', sans-serif;
}
button#btn-open:hover {
    color: #333;
    cursor: pointer;
}
#spinner-view {
    margin-top: 50px;
    text-align: center;
}
.clickable {
    cursor: pointer;
}
.toolbar-item {
    margin-left: 15px;
}
