<h1>{{ title }}</h1>


<div *ngIf="settings">
    <h2>Account</h2>
    <p>Choose the Google account you want to use Popup For Keep with.</p>
    <div *ngFor="let account of settings.accounts">
        <input [checked]="account.index === settings.lastUsedAccount" id="account-{{account.index}}" type="radio" name="account" value="{{account.index}}" (click)="chooseAccount(account.index)"/>
        <label for="account-{{account.index}}"><img src="{{account.imageSrc}}"/><br/><em>{{account.user}}</em></label>
    </div>
    <h2>Menu icon</h2>
    <input [checked]="settings.icon === 'img/mono-icon-32.png'" type="radio" name="icon" id="icon-mono" (click)="chooseIcon(1)">
    <label for="icon-mono">
        <img src="img/mono-icon-32.png"/>
    </label>
    <input [checked]="settings.icon === 'img/icon-32.png'" type="radio" name="icon" id="icon-bi" (click)="chooseIcon(0)">
    <label for="icon-bi">
        <img src="img/icon-32.png"/>
    </label>
</div>
<div *ngIf="!settings">
    If you don't see any of your Google Accounts listed here it means that there might be a <b>bug</b>, so please let me know!
</div>
<h3>Operations</h3>
<button [disabled]="looking" (click)="lookForGoogleAccounts()">Look for Google Accounts</button>
<h2>About</h2>
<p>Hi, author here, thanks for using my little extension!</p>
<p>If you have any <b>feedback</b> please feel free to reach out to me.</p>
<p>Some useful links to report bug, request features or just to say hi:</p>
<ul>
    <li>The  <a target="_blank" href="https://github.com/claudiodangelis/popup-for-keep">popup-for-keep</a> project on Github</li>
    <li>My email address  <a target="_blank" href="mailto:claudiodangelis@gmail.com">claudiodangelis@gmail.com</a></li>
    <li>My twitter handle <a target="_blank" href="https://twitter.com/daw985">@daw985</a></li>
</ul>
<em>&#8212; Cheers, <a target="_blank" href="https://claudiodangelis.com">Claudio d'Angelis</a></em>

